/*===========================
        4.HOME
=============================*/
.header-desc{
    line-height: 4.0;
}

/*===========================
        5.ABOUT
=============================*/
.text-muted{
    line-height: 4.0;
}

/*=========================
        9.CONTACT
===========================*/
.text-center h2{
    line-height: 2.0;
}